/* Reset.css */

/* Box sizing border-box for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul,
  ol {
    list-style: none;
  }
  
  /* Set core body defaults */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    display: block;
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
    margin-top: 1em;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Reset button and input[type="button"], input[type="reset"], input[type="submit"] to default */
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
  }
  
  /* Remove the inheritance of text transform in Edge and Firefox */
  button,
  select {
    text-transform: none;
  }
  
  /* 1.5rem = 24px for body */
  html {
    font-size: 62.5%;
  }
  
  /* Your custom styles go below this line */